{% extends "base.html" %}
{% block content %}
      <form action="{{ url_for('register_user')}}" method="post">
          <h5>SignUp!</h5>          
          <div>
              <input type="text" name="username" placeholder="Enter Username" required>
          </div>
          <div>
            <input type="text" name="email" placeholder="Enter Email" required>
        </div>
        <div>
            <input type="text" name="password" placeholder="Enter Password" required>
        </div>
        <div>
            <select name="role" id="roleSelect" onchange="showRoleSpecificFields()">
                <option value="">Select Role</option>
                <option value="customer">Customer</option>
                <option value="restaurant">Restaurant</option>
                <option value="admin">Admin</option>
            </select>
            </div>
            <div id="additionalFields"></div>
            <div>
                <button>Submit</button>
            </div>
          
      </form>
      <script>
        function showRoleSpecificFields() {
            var role = document.getElementById('roleSelect').value;
            var additionalFieldsDiv = document.getElementById('additionalFields');
            additionalFieldsDiv.innerHTML = ''; // Clear previous fields

            if (role === 'customer') {
                additionalFieldsDiv.innerHTML = 
                    '<input type="text" name="address" placeholder="Enter Address" required>' +
                    '<input type="text" name="paymentDetails" placeholder="Enter Payment Details" required>';
            } else if (role === 'restaurant') {
                additionalFieldsDiv.innerHTML = 
                    '<input type="text" name="location" placeholder="Enter Location" required>';
            }
        }
    </script>
{% endblock %}
