
{% extends "base.html" %}

{% block content %}

    <h2>Menu</h2>
    <table class="table table-hover">
        <thead class="thead">
            <tr> 
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Your cart</th>
            </tr>
        </thead>
        {% if same_rest == False %}
        <div class="alert alert-warning">
            Adding items from this restaurant will clear your existing cart from another restaurant.
        </div>
    {% endif %}
        <tbody>
            {% for item in menu %}
            <tr >
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>${{ item.price }}</td>
                {% if session['loggedIn'] == true %}
                {% set userId = session['userid'] %}
                {% set cartItem = cart_items.get(item.itemId, "") %}
                <td id="cart-controls-{{ item.itemId }}">
                    {%-  if cartItem == ""  -%}
                        <button class="btn btn-success" onclick="updateQuantityAndRedirect(1, '{{ item.itemId }}', '{{ userId }}')">add to cart</button>
                        <!-- <button class="btn btn-success" onclick="window.location.href='/api/customers/{{userId}}/{{item.itemId}}/1/cart'">add to cart</button> -->
                    {% else %}
                        {% if   cartItem.quantity > 0 %}
                        <button class="btn btn-danger" onclick="updateQuantityAndRedirect(-1, '{{ item.itemId }}', '{{ userId }}')">-</button>
                        <input type="number"  class="qty-number" name="qty-number" min="0" id="{{ item.itemId }}-qty" value="{{ cartItem.quantity }}">
                        <button class="btn btn-primary" onclick="updateQuantityAndRedirect(1, '{{ item.itemId }}', '{{ userId }}')">+</button>
                        {% else %}
                        <button class="btn btn-success" onclick="window.location.href='/api/customers/{{userId}}/{{item.itemId}}/1/cart'">add to cart</button>
                        {% endif %}
                </td>
                    {%- endif -%}
                {% else %}
                    <td><button disabled>Login to Add to cart</button></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function updateQuantityAndRedirect(change, itemId, userId) {
            var qtyInput = document.getElementById(itemId + '-qty');
            console.log(qtyInput);
            var newQty = change;
            if(qtyInput != null){
            newQty = parseInt(qtyInput.value) + change;
            }
            // Ensure quantity does not go below zero
            newQty = newQty < 0 ? 0 : newQty;
            
            // Redirect to the API endpoint
            window.location.href = `/api/customers/${userId}/${itemId}/${change > 0 ? 1 : 0}/cart`;

            if (newQty > 0) {
            controlsHtml = `
                        <button class="btn btn-danger" onclick="updateQuantityAndRedirect(-1, '${itemId}', '${userId}')">-</button>
                        <input type="number"  class="qty-number" name="qty-number" min="0" id="${itemId}-qty" value="${newQty}">
                        <button class="btn btn-primary" onclick="updateQuantityAndRedirect(1, '${itemId}', '${userId}')">+</button>

                `;
        } else {
            controlsHtml = `
            <button class="btn btn-success" onclick="updateQuantityAndRedirect(1, '${itemId}', '${userId}')">add to cart</button>
           `;
        }
        document.getElementById('cart-controls-' + itemId).innerHTML = controlsHtml;

        }
    </script>
    
{% endblock %}



