{% extends "base.html" %}

{% block content %}
    <h2>Your Cart</h2>

    {% if cartContents|length == 0 %}
        <p>Your cart is empty.</p>
    {% else %}
        <table class="table table-hover">
            <thead class="thead">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cartContents %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>${{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>${{ item.price * item.quantity }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" class="text-right"><strong>Total:</strong></td>
                    <td><strong>${{ cart_total }}</strong></td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ url_for('checkout', customerId= custId) }}" class="btn btn-primary">Proceed to Payment</a>
        </div>
    {% endif %}
{% endblock %}
