{% extends "base.html" %}

{% block content %}
    <h2>Your Orders</h2>

    {% if orders|length == 0 %}
        <p>No orders found.</p>
    {% else %}
        <table class="table table-hover">
            <thead class="thead">
                <tr>
                    <th>Order ID</th>
                    <th>Restaurant Name</th>
                    <th>Restaurant Location</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ order.orderId }}</td>
                    <td>{{ order.restaurantName }}</td>
                    <td>{{ order.restaurantLocation }}</td>
                    <td>{{ order.status }}</td>
                    <td>${{ order.total }}</td>
                    <td>{{ order.Date.strftime('%Y-%m-%d %H:%M') }}</td>
                    <td>
                        <div class="text-right">
                        {% if order.status == 'placed' %}
                        <button class="btn btn-danger" onclick="clicked('{{order.orderId}}')">cancel</button>
                        {% else %}
                        <button class="btn btn-danger" disabled >cancel</button>
                        {% endif %}
                        <button class="btn btn-info"  onclick="window.location.href='/review/{{order.orderId}}'">review</button>

                    </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <script>
        

         function clicked(orderId) {

        fetch('/api/orders/' , {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json'
            },
            body: JSON.stringify({ orderId: orderId, status: 'cancelled' })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            alert('Order status updated successfully');
            // Handle successful response
            window.location.href = '/restaurant-orders/' + res_id;
        })
        .catch((error) => {
            console.error('Error:', error);
            alert('Failed to update order status');
            // Handle error response
        });
    };
    </script>
{% endblock %}
