{% extends "base.html" %}

{% block content %}
    <h2>Users List</h2>

    <table class="table">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role }}</td>
                <td><button class="btn btn-secondary" onclick="window.location.href='/user-profile/{{user.userId}}'">Manage</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
